* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

main {
  padding: 50px;
  margin: 10px;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

header,
h1,
h2,
p {
  font-family: "Lexend Giga", serif;
}

.product_name,
h2 {
  text-align: center;
}

p {
  max-width: 65ch;
  margin-top: 50px;
}

.overview {
  text-align: center;
  margin-bottom: 20px;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.box {
  background-color: rgb(46, 38, 42);
  border-radius: 20px;
}

.category a {
  font-size: 20px;
  font-family: "Bebas Neue", serif;
  color: rgb(254, 250, 244);
  text-align: center;
  line-height: 50px;
}

.grid_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.item {
  border: 0.4px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  padding: 18px;
}

@media screen and (max-width: 700px) {
  header {
    font-size: 20px;
  }

  .category {
    grid-template-columns: 1fr;
  }

  .grid_items {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
  }
}
